    h1
    {
    font-family: "arial";
    margin-left:130px;
    }
    
    body
    {
    background-color:yellow;
    }
        
    #content
    {
    padding-left:150px;
    border: 1px solid black;
    background-color:yellow;
    
    
    }
        
      #container
    {
   
    margin: auto;
    width: 500px;
    
    background-color: yellow;     
    }
    textarea
    {
        margin-top:30px;
        margin-left:-55px;
       
       height:100px;
         width:300px; 
        } 
        .button
        {
             float: right;
            
        }
        .messages
        {
            background-color:blue;
            }  